# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.jks
key.properties

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
*.log
