name: korean_bridge
description: "Glocal Korean - Hanwha Ocean Nepali Workers Korean Learning App"
publish_to: 'none'
version: 2.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared_preferences: 2.5.3
  provider: 6.1.5+1
  hive: 2.2.3
  hive_flutter: 1.1.0
  percent_indicator: ^4.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/data/
    - assets/icons/
